<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Hipster Latin</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>latin.php</string>
			<key>uuid</key>
			<string>CB8EEEE3-93CC-46E4-AC4C-0591CD858465</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Hipster Centric</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>centric.php</string>
			<key>uuid</key>
			<string>46910793-1718-45B9-99D2-19F3DCFF3F7E</string>
		</dict>
	</array>
</dict>
</plist>
